@import '@styles/_colors.scss';



.header {
    width: 100%;
    z-index: 3;
    position: absolute;

    .containerNavbar {
        position: relative;
        background-color: $secundary;
        height: 80px;
        width: 100%;
        position: fixed;
        display: flex;
        color: white;
        justify-content: space-between;
        align-items: center;
        padding-left: 18px;
        padding-right: 18px;
        box-shadow: 0px 0px 10px #636363;
    }


    .toogle {
        color: yellow;
    }
}

.logoContainer {

    display: flex;
    max-width: 200px;

    .link {
        cursor: pointer;
    }

    .logo {
        height: 140px;
    }
}