@import '@styles/_colors.scss';

.header {
    width: 100%;

    .link {
        cursor: pointer;
    }

    .containerNavbar {
        position: relative;
        background-color: $secundary;
        height: 80px;
        width: 100%;
        position: fixed;
        display: flex;
        color: rgb(225, 225, 225);
        justify-content: space-around;
        align-items: center;
    }
}