@import '@styles/_colors.scss';

.Dashboard {
    margin-top: 10%;
    height: auto;
    border-radius: 8px;
    // background-color: $secundary;
    display: flex;
    width: 100%;
    justify-content: space-evenly;

    article {


        margin-bottom: 40px;
        cursor: pointer;
        border-radius: 8px;
        transition: background-color 2s ease-out 100ms;

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            height: 200px;
            /* background: cadetblue; */
            justify-content: center;
            width: 200px;
            border: 2px solid $secundary;
            border-radius: 8px;
            color: $suave;

            span {
                color: $text-cyan;
            }
        }
    }
}


@media (max-width: 600px) {
    .Dashboard {
        width: auto;
        margin-top: 20%;
        display: block;

    }
}